@media only screen and (max-width: 600px) {
  .header {
    background-image: none;
  }
  .mobileHeader {
    background-image: url(../images/bg_hero_mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 122vh;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    width: 50%;
  }
  .logo {
    height: fit-content;
    margin-left: -5%;
    margin-top: -1%;
    padding: 0;
    width: 31%;
  }
  .button1Div {
    margin-top: 0%;
    margin-left: 8%;
  }
  .bouton1 {
    letter-spacing: 1px;
    border-radius: 30px;
    width: 174%;
    height: 30px;
  }
  .big-title {
    margin-top: 60%;
    width: 112%;
    font-size: 190%;
    margin-left: 0;
  }

  .text1 {
    width: 113%;
    font-size: 112%;
    text-align: center;
    margin-left: 0;
  }
  .bouton2 {
    width: 90%;
    margin-left: 0%;
    margin-top: 11%;
  }

  .button2Div {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
  .nav-toggler {
    top: 5%;
    right: 5%;
    height: 5%;
    width: 10%;
  }
  nav {
    min-height: 77vh;
  }
  .img1 {
    margin: 15% 0% 0% 0%;
    width: 145%;
  }
  .community {
    align-items: center;
    flex-direction: column;
    margin-top: -20%;
    display: flex;
  }
  /* main */
  main {
    margin-top: 0%;
  }

  .block {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 85px;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .blocksP {
    margin-top: 100px;
  }

  .mainP {
    width: 100%;
  }

  .yourUsers,
  .growTogether {
    flex-direction: column-reverse;
  }

  .imgMain {
    width: 80%;
    height: 75%px;
    margin: -22px 10% 0 10%;
  }
  h2,
  .mainP {
    text-align: center;
  }

  .deuxcouleurs {
    height: fit-content;
    width: 100%;
  }

  .RTBYC {
    width: 92%;
    margin: 115px 2% 0 2%;
  }
  /* footer */

  .logo2 {
    width: 220px;
    height: 320px;
    margin: 0px 2% 0 2%;
  }

  .informationsComplementaires {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .moyensContact {
    margin-top: -22%;
    margin-left: 2%;
    width: 80%;
  }

  .list_entiere {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: -3%;
  }

  .partie_deux_list {
    margin-top: -10%;
  }

  .iconMedias {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 2%;
  }

  .copyright {
    display: flex;
    justify-content: center;
    margin-left: 25%;
  }

  .Email{
        text-decoration: none;
    color: #d5eaf3;
    margin-top: 4%;
  }

  .Location{
        margin-top: 0%;
  }
}
