
@media(max-width: 767px) {
 
 html,body{
width:100%;
overflow-x:hidden;
}
  .mobileHeader {
    background-image: url(../images/bg_hero_mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 160vh;
  }
  .btnImg {
  width: 50%;

  }
  .line {
    width: 80%;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
       margin: -17% 6% 0% -9%;
    width: 75%;
  }
  .top {
    position: relative;
  }
  .logoImg {
margin-left: -17%;
    margin-top: -7%;
    margin-right: -22%;
  }
  .logo {
    width: 60%;
    margin-top: 10%;
  }
  .button1Div {
    width: 19%;
   position: absolute;
    top: 13%;
    left: 34%;
    margin: auto;
  }
  .bouton1 {
    letter-spacing: 0px;
    width: 100%;
    height: 4vh;
    margin: 13% 30%;
  }
  .big-title {
    margin-left: 12%;

    margin-top: 60%;
    width: 112%;
    font-size: 190%;
    margin-left: 0;
  }

  .text1 {

    margin-left: 12%;
    width: 113%;
    font-size: 112%;
    margin-top: 0%;
    text-align: center;
  }
  .bouton2 {
    width: 80%;
    margin-left: 25%;
    margin-top: 3%;
  }

  .button2Div {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
  }
  .nav-toggler {
    top: 5%;
    right: 5%;
    height: 5%;
    width: 10%;
  }
  nav {
    min-height: 90vh;
  }
  .img1 {

    margin: 17% 12% 0% 58%;
    width: 118%;
  }
  .community {
    margin-top: 0%;
    padding-left: 11%;

  }
  /* main */
  main {
    margin-top: 0%;
  }

  .block {
    display: flex;
    flex-direction: column;
    width: 72%;
    padding-top: 10%;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .blocksP {
    margin-top: 100px;
  }

  #mainP {
    width: 100%;
  }

  .yourUsers,
  .growTogether {
    flex-direction: column-reverse;
  }

  .flowingConversations {
    display: flex;
    flex-direction: column;
  }
  .imgMain {
    width: 80%;
    height: 75%;
    margin: 0 10%;
  }
  h2,
  #mainP {
    text-align: center;
  }


  #RTBYC {
    width: 90%;
    margin: 8% 3.5%;

  }
  /* footer */

  footer {
    width: 100%;
  }


  .logo2 {
   width: 30%;
    height: 58vh;
    margin: -11% 0 40px 4%;

  }

  .informationsComplementaires {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .moyensContact {

    margin-top: -25%;

    margin-left: 2%;
    width: 80%;
    margin-bottom: 10%;
  }
.map {
  margin-left: 10%;
}
  .list_entiere {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -4%;
    margin-left: -1%;
  }

  .partie_deux_list {
    margin-top: -10%;
  }

  .iconMedias {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 0%;
  }

  .copyright {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    padding-bottom: 8%;
  }

  .Email{
        text-decoration: none;
    color: #d5eaf3;
    margin-top: 4%;
  }

  .Location{
        margin-top: 0%;
  }
}
