/* En-tête */

.header {
  background-color: hsl(193, 100%, 96%);
  background-image: url(../images/bg_hero_desktop.svg);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 40px 0 0 60px;
}
body {
  margin: 0 auto;
}
.logobouton {
  padding: 0px 0px 0 40px;
}

.bouton1 {
  border-radius: 50px;
  width: 200px;
  border: none;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: grey;
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  right: 160px;
  top: 40px;
}

.bouton2:hover {
  box-shadow: #a91673 0 -25px 18px -14px inset, #a91673 0 1px 2px,
    #a91673 0 2px 4px, #a91673 0 4px 8px, #a91673 0 8px 16px,
    #a91673 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.startForFree:hover {
  box-shadow: #a91673 0 -25px 18px -14px inset, #a91673 0 1px 2px,
    #a91673 0 2px 4px, #a91673 0 4px 8px, #a91673 0 8px 16px,
    #a91673 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.bouton2 {
  border-radius: 50px;
  width: 283px;
  border: none;
  margin: 0 0px 302px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  background-color: #fe52c0;
  cursor: pointer;
  bottom: 3%;
  left: 100px;
}
.logo {
  width: 180px;
}
.img1 {
  width: 695px;
  padding: 90px 180px 0 0;
  object-fit: contain;
  height: 495px;
}

.big-title {
  font-family: "Poppins", sans-serif;
  padding: 160px 110px 0px 0px;
  font-size: 37px;
}

.text1 {
  font-family: "Open Sans", sans-serif;
  padding: 0px 40px 0px 0px;
}

.landing-page {
  display: flex;
}

.community {
  display: flex;
  flex-direction: column;

  font-size: 18px;
}
/* main */
.block {
  display: flex;
  width: 80%;
  margin: 30px 10%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}

.blocksP {
  margin-top: 100px;
}
.titreMain {
  font-family: "Poppins", sans-serif;
}
.mainP {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #a2a8ad;
}
.titre_texte {
  display: block;
  width: fit-content;
  margin: 6% 13%;
}

.imgMain {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin: 0 2% 0 11%;
}
.deuxcouleurs {
  height: fit-content;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 65%,
    hsl(192, 100%, 9%) 35%,
    hsl(192, 100%, 9%) 100%
  );
}

.RTBYC {
  width: 45%;
  margin: 100px 27.5% 0 27.5%;
  padding: 2%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  text-align: center;
}

.startForFree {
  border-radius: 50px;
  width: 40%;
  border: none;
  margin: 30px 10%;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  background-color: #fe52c0;
  cursor: pointer;
}

/* footer */
footer {
  background-color: hsl(192, 100%, 9%);
  color: #d5eaf3;
}

.logo2 {
  width: 220px;
  height: 320px;
  object-fit: contain;
  margin: 0 2% 0 11%;
}
.informationsComplementaires {
  display: flex;
}

.moyensContact {
  margin-top: -8%;
  margin-left: 11%;
  width: 35%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location,
.phone,
.email {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}

.icon {
  width: 18px;
  height: 20px;
  object-fit: contain;
  padding-right: 30px;
}

.Picon {
  margin-top: 0;
}

.fa-brands {
  margin: 2%;
  border: 1px solid white;
}
