/* En-tête */

body {
  margin: 0 auto;
}

.header {
  background-color: hsl(193, 100%, 96%);
  background-image: url(../images/bg_hero_desktop.svg);
  background-repeat: no-repeat;
  padding: 40px 0 0 60px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 0px 39px;
  width: 192px
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community {
  order: 2;
  padding: 50px 0 147px 0;
}

.img1 {
  order: 4;
  margin-top: 20px; 
  object-fit: cover;
  width: 700px;
  padding: 5px 178px 0 0;
}
.big-title {
  font-family: "Poppins", sans-serif;
  font-size: 37px;
  width: 420px;
  padding: 92px 0 0 38px;
}

.text1 {
  font-family: "Open Sans", sans-serif;
  padding: 0 0 0px 38px;
  width: 465px;
}

.bouton1 {
  border-radius: 50px;
  width: 200px;
  border: none;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: grey;
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button1Div {
  padding: 0 140px;
}

.bouton2 {
  border-radius: 50px;
  width: 283px;
  border: none;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  background-color: #fe52c0;
  cursor: pointer;
}
.button2Div {
padding: 20px 0 0 38px;
}
.block {
  display: flex;
  width: 80%;
  margin: 30px 10%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}
.titreMain {
  font-family: "Poppins", sans-serif;
}
.mainP {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #a2a8ad;
}
.titre_texte {
  display: block;
  width: fit-content;
  margin: 6% 13%;
}

.imgMain {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin: 0 2% 0 11%;
}
.deuxcouleurs {
  height: fit-content;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 65%,
    hsl(192, 100%, 9%) 35%,
    hsl(192, 100%, 9%) 100%
  );
}

.RTBYC {
  width: 45%;
  margin: 100px 27.5% 0 27.5%;
  padding: 2%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  text-align: center;
}

.startForFree {
  border-radius: 50px;
  width: 30%;
  border: none;
  margin: 30px 20%;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  background-color: #fe52c0;
  cursor: pointer;
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: #d5eaf3;
}

.logo2 {
  width: 220px;
  height: 320px;
  object-fit: contain;
  margin: 0 2% 0 11%;
}
.informationsComplementaires {
  display: flex;
}

.moyensContact {
  margin-top: -8%;
  margin-left: 11%;
  width: 35%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location,
.phone,
.email {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}
